In [28]:
import numpy as np
import pandas as pd
from os import walk

In [34]:
#Read data
df = pd.read_csv('Hackathon/materials.csv', header = [0,1])
df['1'][50:100]
df

            0              1         2         3         4         5  \
      channel      Al_1 Al_2      Al_3      Al_4      Al_5  Asilikos
0           1  114029.0  0.0  120460.0  139299.0  126009.0  129635.0
1           2  127755.0  0.0  133759.0  155997.0  140620.0  142635.0
2           3  131648.0  0.0  137743.0  160507.0  144329.0  146872.0
3           4  131825.0  0.0  138640.0  160614.0  144185.0  146709.0
4           5  131731.0  1.0  138780.0  160435.0  143687.0  145903.0
...       ...       ...  ...       ...       ...       ...       ...
16239   16240       0.0  0.0       2.0       0.0       3.0       2.0
16240   16241       0.0  2.0       1.0       1.0       1.0       0.0
16241   16242       0.0  1.0       0.0       1.0       0.0       1.0
16242   16243       2.0  0.0       2.0       2.0       1.0       0.0
16243   16244       2.0  2.0       1.0       1.0       1.0       1.0

              6        7         8  ...        11        12        13  \
      Batterien     Cu_0      Cu_1  ...      Cu_4      Cu_5 E-Schrott
0      245381.0   9344.0  632245.0  ...  668144.0  365089.0  502561.0
1      244500.0  10683.0  633533.0  ...  671510.0  365492.0  500074.0
2      244015.0  10888.0  632122.0  ...  672515.0  365888.0  499030.0
3      242481.0  10956.0  633030.0  ...  671945.0  365529.0  496066.0
4      241698.0  10795.0  631888.0  ...  670891.0  365304.0  492185.0
...         ...      ...       ...  ...       ...       ...       ...
16239       1.0      0.0      16.0  ...      25.0       5.0      10.0
16240       5.0      0.0      19.0  ...      25.0       8.0      11.0
16241       1.0      1.0      21.0  ...      16.0       3.0      10.0
16242       3.0      0.0      11.0  ...      31.0       8.0       8.0
16243       2.0      0.0      14.0  ...      24.0      10.0       9.0

              14         15       16       17       18        19        20
      Erdreich_1 Erdreich_2      Erz Melamine      PVC Stuckgips    Zement
0       208509.0   214481.0  32772.0      0.0  74515.0  110722.0  510988.0
1       208043.0   214120.0  36649.0      0.0  86027.0  109931.0  507617.0
2       206711.0   213329.0  38136.0      0.0  88909.0  109100.0  505638.0
3       204582.0   211625.0  38590.0      0.0  89854.0  108346.0  502495.0
4       204442.0   209939.0  38478.0      0.0  90026.0  107251.0  498474.0
...          ...        ...      ...      ...      ...       ...       ...
16239        3.0        1.0      0.0      0.0      0.0       4.0      11.0
16240        4.0        1.0      2.0      0.0      3.0       1.0      12.0
16241        3.0        1.0      2.0      0.0      3.0       2.0       9.0
16242        2.0        1.0      0.0      0.0      1.0       1.0      13.0
16243        4.0        1.0      0.0      1.0      2.0       2.0       9.0

[16244 rows x 22 columns]

In [12]:
#del first column
df_neu=df.copy()
del(df_neu['0',    'channel'])
df_neu

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
,Al_1,Al_2,Al_3,Al_4,Al_5,Asilikos,Batterien,Cu_0,Cu_1,Cu_2,...,Cu_4,Cu_5,E-Schrott,Erdreich_1,Erdreich_2,Erz,Melamine,PVC,Stuckgips,Zement
0,114029.0,0.0,120460.0,139299.0,126009.0,129635.0,245381.0,9344.0,632245.0,521859.0,...,668144.0,365089.0,502561.0,208509.0,214481.0,32772.0,0.0,74515.0,110722.0,510988.0
1,127755.0,0.0,133759.0,155997.0,140620.0,142635.0,244500.0,10683.0,633533.0,522030.0,...,671510.0,365492.0,500074.0,208043.0,214120.0,36649.0,0.0,86027.0,109931.0,507617.0
2,131648.0,0.0,137743.0,160507.0,144329.0,146872.0,244015.0,10888.0,632122.0,520776.0,...,672515.0,365888.0,499030.0,206711.0,213329.0,38136.0,0.0,88909.0,109100.0,505638.0
3,131825.0,0.0,138640.0,160614.0,144185.0,146709.0,242481.0,10956.0,633030.0,521682.0,...,671945.0,365529.0,496066.0,204582.0,211625.0,38590.0,0.0,89854.0,108346.0,502495.0
4,131731.0,1.0,138780.0,160435.0,143687.0,145903.0,241698.0,10795.0,631888.0,520643.0,...,670891.0,365304.0,492185.0,204442.0,209939.0,38478.0,0.0,90026.0,107251.0,498474.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16239,0.0,0.0,2.0,0.0,3.0,2.0,1.0,0.0,16.0,19.0,...,25.0,5.0,10.0,3.0,1.0,0.0,0.0,0.0,4.0,11.0
16240,0.0,2.0,1.0,1.0,1.0,0.0,5.0,0.0,19.0,14.0,...,25.0,8.0,11.0,4.0,1.0,2.0,0.0,3.0,1.0,12.0
16241,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,21.0,6.0,...,16.0,3.0,10.0,3.0,1.0,2.0,0.0,3.0,2.0,9.0
16242,2.0,0.0,2.0,2.0,1.0,0.0,3.0,0.0,11.0,13.0,...,31.0,8.0,8.0,2.0,1.0,0.0,0.0,1.0,1.0,13.0
16243,2.0,2.0,1.0,1.0,1.0,1.0,2.0,0.0,14.0,16.0,...,24.0,10.0,9.0,4.0,1.0,0.0,1.0,2.0,2.0,9.0

In [13]:
#Data Genaration by sample
def sample_df(data, n):
    """ Creates a DataFrame object containing the counts of each element 
    returned from a sample with replacement for each column of the given DataFrame.

    Parameters
    ----------
    data: pandas DataFrame
        DataFrame to be sampled from.
    n : int
        Number of values sampled from each column.

    Returns
    -------
    pandas DataFrame
        A new DataFrame with the same number of rows and columns as the original.
    """

    # Create a DataFrame that has the same column names as data and is empty
    # besides the Energy column. 
    sample_table = pd.DataFrame(columns = data.columns)             
    sample_table[('0', 'channel')] = data[('0', 'channel')]

    # Iterating over every column and using pandas sample function with the 
    # column values of the data DataFrame as weights to generate a sample 
    # with replacement. The sampled values are then counted, reindexed and 
    # saved in the corresponding column in the sample_table that is returned 
    # as the functions return value. 
    for k in sample_table.columns[1:]:
        sample_table[k] = range(len(sample_table))
        sample_table[k] = sample_table[k].sample(n = n, 
            replace = True, 
            weights = data[k], 
            random_state = None).value_counts().reindex(range(len(sample_table)), 
                                                        fill_value = 0)
    
    return sample_table

In [14]:
#Preparation for data classification
def maxloglike(longtime_spectra):
    s = longtime_spectra.sum()
    
    norm =(longtime_spectra +1) / s

    norm_log = np.log(norm)
    norm_log[np.isinf(norm_log)] = 0

    return norm_log

In [15]:
#Matrix for data classification
A = [maxloglike(df_neu[i]) for i in df_neu.columns]

In [43]:
#test data genaration
test_set=sample_df(df,200)
del(test_set['0',    'channel'])
test_set

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
,Al_1,Al_2,Al_3,Al_4,Al_5,Asilikos,Batterien,Cu_0,Cu_1,Cu_2,...,Cu_4,Cu_5,E-Schrott,Erdreich_1,Erdreich_2,Erz,Melamine,PVC,Stuckgips,Zement
0,1,0,1,0,0,0,0,0,0,1,...,0,0,0,0,2,0,0,1,1,1
1,0,0,0,0,0,0,1,0,1,1,...,0,0,0,1,1,1,0,1,0,0
2,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,0,0,1,0,0,2,0,0,1,0,...,0,0,0,2,0,0,0,0,1,0
4,1,0,0,0,0,0,0,0,2,0,...,0,1,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16239,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16240,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16241,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16242,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16243,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
#Classification of test data
for k in test_set.columns:
    print('test_data:',k)
    print('prediction:',test_set.columns[np.argmax(A @ test_set[k])])
    print('__')

test_data: ('0', 'Al_1')
prediction: ('0', 'Al_1')
__
test_data: ('1', 'Al_2')
prediction: ('1', 'Al_2')
__
test_data: ('2', 'Al_3')
prediction: ('2', 'Al_3')
__
test_data: ('3', 'Al_4')
prediction: ('2', 'Al_3')
__
test_data: ('4', 'Al_5')
prediction: ('2', 'Al_3')
__
test_data: ('5', 'Asilikos')
prediction: ('5', 'Asilikos')
__
test_data: ('6', 'Batterien')
prediction: ('6', 'Batterien')
__
test_data: ('7', 'Cu_0')
prediction: ('7', 'Cu_0')
__
test_data: ('8', 'Cu_1')
prediction: ('8', 'Cu_1')
__
test_data: ('9', 'Cu_2')
prediction: ('9', 'Cu_2')
__
test_data: ('10', 'Cu_3')
prediction: ('10', 'Cu_3')
__
test_data: ('11', 'Cu_4')
prediction: ('11', 'Cu_4')
__
test_data: ('12', 'Cu_5')
prediction: ('11', 'Cu_4')
__
test_data: ('13', 'E-Schrott')
prediction: ('13', 'E-Schrott')
__
test_data: ('14', 'Erdreich_1')
prediction: ('14', 'Erdreich_1')
__
test_data: ('15', 'Erdreich_2')
prediction: ('15', 'Erdreich_2')
__
test_data: ('16', 'Erz')
prediction: ('16', 'Erz')
__
test_data: ('17', 'Melamine')
prediction: ('17', 'Melamine')
__
test_data: ('18', 'PVC')
prediction: ('18', 'PVC')
__
test_data: ('19', 'Stuckgips')
prediction: ('19', 'Stuckgips')
__
test_data: ('20', 'Zement')
prediction: ('20', 'Zement')
__